<% include partials/header %>
<link rel="stylesheet" type="text/css" href="stylesheets/discussion.css">
<div class="container">
	<div class="row">
    	<div class="col-12">
    		<div class="list-group">
      			<div class="card">
		            <div class="card-header">
		                <%= idea.employee.fullname %>
		            </div>
		            <div class="padded card-body">
		                <h5 class="card-title"><%= idea.topic %></h5>
		                <p class="card-text"><%= idea.description %></p>
		            </div>
		            <div class="card-footer text-center">
	            		<form method="POST" action="/feed/<%= idea._id %>">
						  <div class="input-group mb-2 mr-sm-2">
						    <div class="input-group-prepend">
						      <div class="input-group-text">@</div>
						    </div>
						    <input type="text" name="comment" class="form-control" placeholder="ummm...">
						  </div>
						  <button type="submit" class="btn btn-primary mb-2">Post</button>
						</form>
		            </div>
		        </div>
    		</div>
    		<% idea.comments.forEach(function(comment){%>
	    		<div>
		    		<a class="list-group-item list-group-item-action flex-column align-items-start">
		    			<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1"><%= comment.employee.fullname %></h5>
							<small class="text-muted">a minute ago</small>
						</div>
						<p class="mb-1"><%= comment.comment %></p>
					</a>
			    </div>
    		<% }); %>
    	</div>
	</div>
</div>

<% include partials/footer %>